# vscode
.vscode/settings.json

# Node / Vite
node_modules/
dist/
dist-standalone/
docs/
.vite/
.DS_Store
*.log

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.prod  # Production environment file (contains secrets)

# Prisma
src/generated/

/src/generated/prisma
# internal development doc
internaldoc/
media/LargeModels/

#Directory for local dev
project_files
prisma
!backend/prisma/
!backend/prisma/schema.prisma
!backend/prisma/migrations/
!backend/prisma/migrations/**

/doc/Deliverables
tmp
